.git
.idea
.venv
.tmp
.pytest_cache
.ruff_cache
.merge-*
.env
.env.*
!.env.example
__pycache__
*.py[cod]
*.db
*.db-journal
*.db-wal
.coverage
htmlcov
data
docs
tests
templates_files
secrets/*
!secrets/example
