<!-- template: render-warehouses -->
<small>Доступно</small><b>{{{content}}}</b>
<!-- endtemplate -->

<!-- template: render-warehouses-2 -->
<small>FBS</small><b>{{{content}}}</b>
<!-- endtemplate -->

<!-- template: render-transit -->
<div class="stock-drawer-loading">Нет партий в пути</div>
<!-- endtemplate -->

<!-- template: load-warehouse-details -->
<div class="stock-drawer-loading"><span></span>Загружаем остатки...</div>
<!-- endtemplate -->

<!-- template: load-warehouse-details-2 -->
<div class="stock-drawer-loading stock-drawer-loading--error">Не удалось загрузить детализацию складов</div>
<!-- endtemplate -->
