<!-- template: render-suggest -->
<div class="tf-values-empty">{{{content}}}</div>
<!-- endtemplate -->


<!-- template: add-row -->
<div class="manual-code-wrap"><input class="select-control mv-code" type="text" placeholder="Артикул или баркод" autocomplete="off"><div class="suggest-box"></div></div><input class="select-control mv-qty" type="number" placeholder="Кол-во" min="1"><span class="mv-hint"></span><button type="button" class="manual-remove mv-remove" title="Убрать строку">&times;</button>
<!-- endtemplate -->
