    <header>
        <div class="header-inner">
            <a class="logo" href="/">PAKE<span class="accent">TA</span></a>
            <nav>
                <ul>
                    <li><a href="/supply" class="$supply_active">Снабжение</a></li>
                    <li><a href="/stock" class="$stock_active">Остатки</a></li>
$admin_link
                </ul>
            </nav>

            <div class="user-box">
                <span class="user-name">$user_name</span>
                <span class="user-role">$user_role</span>
                <a class="logout-link" href="/logout" title="Выйти">Выйти</a>
            </div>
        </div>
    </header>
