<!-- template: small-text -->
<small>{{{content}}}</small>
<!-- endtemplate -->

<!-- template: field-unit -->
<b>{{{suffix}}}</b>
<!-- endtemplate -->

<!-- template: product-image -->
<img src="{{image_url}}" alt="">
<!-- endtemplate -->

<!-- template: product-media -->
<span>{{initial}}</span>{{{content}}}
<!-- endtemplate -->

<!-- template: lazy-product-image -->
<img src="{{image_url}}" alt="" loading="lazy">
<!-- endtemplate -->

<!-- template: select-option -->
<option value="{{v}}"{{{content}}}>{{content_2}}</option>
<!-- endtemplate -->
